[submodule "external/rapidjson"]
	path = external/rapidjson
	url = https://github.com/miloyip/rapidjson.git
[submodule "external/glTF"]
	path = external/glTF
	url = https://github.com/KhronosGroup/glTF.git
[submodule "external/ios-cmake"]
	path = external/ios-cmake
	url = https://github.com/Yangqing/ios-cmake.git
[submodule "external/draco"]
	path = external/draco
	url = https://github.com/google/draco.git
